PORT=3000
ROOT_URL=''
POSTGRES_HOST=''
POSTGRES_PORT='5432'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD=''
POSTGRES_DATABASE='gyaanai'
NODE_ENV='localhost'
LOG_LEVEL='debug'
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PUBLIC_BUCKET_NAME=
IS_HEROKU=false
ORIGIN=''
MAILER_SERVICE_HOST=
MAILER_SERVICE_PORT=
MAILER_SERVICE_EMAIL=
CACHE_SERVICE_HOST=
CACHE_SERVICE_PORT=
AWS_CLOUDFRONT_ACCESSKEY_ID=
AWS_CLOUDFRONT_DOMAIN=
IS_SECURE=
CERT_KEY_PATH=
CERT_FILE_PATH=
IS_SSL=
